<div class="container-fluid">
  <h1>Meus pedidos</h1>
</div>

<% if admin? %>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<%= link_to "Confirmados: #{total_orders('confirmado')}", status_path(:confirmado), class:'btn btn-success' %>
			</div>
			<div class="col-md-3">
				<%= link_to "Pagos: #{total_orders('pago')}", status_path(:pago), class:'btn btn-warning' %>
			</div>
			<div class="col-md-3">
				<%= link_to "Cancelados: #{total_orders('cancelado')}", status_path(:cancelado), class:'btn btn-danger' %>
			</div>
			<div class="col-md-3">
				<%= link_to "Em andamento: #{total_orders('em andamento')}", status_path(:"em andamento"), class:'btn btn-info' %>
			</div>
		</div>
	</div>
<% end %>

<div class="table-responsive">
	<table class="table">
		<thead>
			<% if admin? %>
				<th>Usuario</th>
			<% end %>
			<th>N. do pedido</th>
			<th>Data do pedido</th>
			<th>Total</th>
			<th>Status</th>
			<th>Detalhes</th>
		</thead>
		<tbody>
			<% @orders.each do |order| %>
				<tr>
					<% if admin? %>
						<td><%= order.user.username %></td>
					<% end %>
					<td><%= order.id %></td>
					<td><%= pretty_time order.created_at %></td>
					<td>R$ <%= print_price(total_price(order)) %></td>
					<td><div class="<%= order.status.split.join("-") %> status">
						<%= order.status.titleize %>							
					</div></td>
					<td><%= link_to "Detalhes", show_order_path(order), class:'btn btn-default'%></td>
				</tr>
			<% end %>
		</tbody>	
	</table>
</div>
