<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="page-header">
        <h1>Carrinho</h1>
      </div>
    <div class="col-md-4"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"><p>Nome</p></div>
    <div class="col-md-2"><p>Preço</p></div>
    <div class="col-md-2"><p>Quantidade</p></div>
    <div class="col-md-2"><p>Subtotal</p></div>
    <div class="col-md-2"><p>Mudar quantidade</p></div>
    <div class="col-md-2"><p>Remover</p></div>
  </div>
<div>

<div class="container-fluid">
  <%@items.each do |item| %>
  <div class="row">
    <div class="col-md-2"><p><%= item[0].title %></p></div>
    <div class="col-md-2"><p><%= item[0].price %></p></div>
    <div class="col-md-2"><p id="quant"><%= item[1] %></p></div>
    <div class="col-md-2"><p><%= item[0].price * item[1] %></p></div>
    <div class="col-md-2"><p><%= link_to "+", add_cart_path(item[0].id), class:'btn btn-default add-cart-button'%><%= link_to "-", minus_cart_path(item[0].id), class:'btn btn-default minus-cart-button'%></p></div>
    <div class="col-md-2"><p><%= link_to 'X', destroy_cart_path(item[0].id), class:'btn btn-info btn-lg' %></p></div>
  </div>
  <% end%>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="page-header">
        <p><%= link_to "Todas as opções", {controller: 'items'}, class:'btn btn-default'%></p>
      </div>
    <div class="col-md-4"></div>
  </div>
</div>
