<div class="panel panel-default">
  <div class="well">
    <%= image_tag("food.jpg", :alt => "Imagem", :class => "img-responsive center-block") %>
  </div>
  <div class="panel-body">
    <h3><%= item.title %></h3>
    <p><%= item.description %></p>
    <p style="text-align: right">R$ <%= number_with_precision(item.price, :precision => 2) %></p>
  </div>
  <div class="panel-footer">
    <p><%= link_to '+ Adicionar ao carrinho', add_cart_path(item), class:'card-link add-cart-button'%></p>
    <% if admin? %>
      <%=link_to "Mostrar item", show_item_path(item[:id]), class:'btn btn-warning' %>
    <% end %>
  </div>
</div>





