<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="page-header">
        <h1>Opções</h1>
      </div>
    <div class="col-md-4"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h2>Item</h2>
    </div>
    <div class="col-md-3">
      <h2>Descrição</h2>
    </div>
    <div class="col-md-3">
      <h2>Preço</h2>
    </div>    
    <div class="col-md-3">
      <h2>Adicionar ao carrinho</h2>
    </div>
  </div>
  <% @items.each do |item| %>
  <div class="row">
    <div class="col-md-3">
      <p><%= item.title %></p>
    </div>
    <div class="col-md-3">
      <p><%= item.description %></p>
    </div>
    <div class="col-md-3">
      <p>R$ <%=number_with_precision(item.price, :precision => 2) %></p>
    </div>
    <div class="col-md-3">
      <p><%= link_to 'Adicionar ao carrinho', add_cart_path(item), class:'btn btn-info btn-lg'%>
      </p>
    </div>
  </div> 
  <% end %> 
<div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <%= link_to "De volta para categorias", {controller: 'categories'}, class:'btn btn-default'%>
    <div class="col-md-4"></div>
  </div>
</div>