<div class="jumbotron" id="header">
  <h1>Dinnerdash</h1>
  <p>Suas necessidades nutricionais a apenas um clique</p>
</div>

<div class="container-fluid">
	<div class="row">
		<div class = "col-md-1">
			<%= link_to "Home", root_path, class: 'btn btn-info btn-md' %>
		</div>
		<div class="col-md-9"></div>
		<div class="col-md-2">
			<% if logged_in? %>
				<%= link_to "Log out", logout_path, method: :delete, class: 'btn btn-info btn-md'%>
				<%= link_to "Profile", current_user, class: 'btn btn-info btn-md' %>
			<% else %>
				<%= link_to "Log In", {action: "new", controller: 'sessions'}, class: 'btn btn-info btn-md' %>
				<%= link_to "Sign Up", {action: "new", controller: 'users'}, class: 'btn btn-info btn-md' %>
			<% end %>
		</div>
	</div>
</div>